body {
  background-image: url("images/daysmall2.jpg");
  font-family: "Questrial", sans-serif;
}
h1,
h4,
.temp-now {
  text-align: center;
  color: white;
}

h1 {
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 0;
}

p {
  text-align: center;
}
.author {
  text-align: center;
}
.author .git,
.author .linkedin {
  color: midnightblue;
}

.units {
  color: white;
  position: relative;
  top: -2px;
  left: 2px;
  font-size: 25px;
}
.temp-now a {
  color: rgb(147, 217, 242);
  text-decoration: none;
}

.temp-now a:hover {
  text-decoration: underline;
}

.temp-now {
  margin-bottom: 0;
}

.temperature-now-span {
  font-size: 50px;
  position: relative;
  top: 15px;
}

h4 {
  margin: 0;
  text-transform: capitalize;
}

#weather-description {
  text-transform: capitalize;
  opacity: 0.8;
  max-height: 20px;
}

.container {
  max-width: 55%;
  margin-top: 100px;
  background: radial-gradient(
    circle at 74.2% 50.9%,
    rgb(14, 72, 222) 5.2%,
    rgb(3, 22, 65) 75.3%
  );
  padding: 30px 35px;
  border-radius: 20px;
}

.container-fluid {
  display: inline-flex;

  align-items: flex-start;
}

.location-btn {
  height: 46px;
}

.search-btn,
.location-btn {
  padding: 0 20px;
  margin: 0 4px 15px 4px;
}
.d-flex,
.d-flex.form-location {
  margin: 0 2px 15px 4px;
}

.weather-today {
  text-align: center;
  color: white;
  line-height: 40px;
  font-size: 30px;
}
.forecast {
  flex-wrap: 1px;
  margin: 20px 0 0 10px;
}
.card-body {
  text-align: center;
  padding: 15px 0;
  background: linear-gradient(
    179.7deg,
    rgb(255, 255, 255) -0.5%,
    rgb(236, 236, 246) 35.3%,
    rgb(203, 211, 250) 67.2%,
    rgb(255, 255, 255) 92.3%
  );
  border-radius: 6px;
}
.col {
  padding: 0;
}

.weather-forecast-max-temp {
  font-size: 18px;
}
.weather-forecast-min-temp {
  opacity: 0.8;
  font-size: 18px;
}
.card-text {
  font-size: 40px;
  margin-bottom: 0;
}
.form-control {
  background-color: transparent;
  line-height: 2;
  margin-top: 0;
  margin-bottom: 15px;
}

.temp-now .active {
  cursor: default;
  font-weight: 800;
  color: rgb(255, 255, 255);
}

.temp-now .active:hover {
  text-decoration: none;
}
